/****** Main Styling ******/

* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgb(233, 221, 221);
	background-color: #363333;
	text-align: center;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	height: 80vh;
	width: 100vw;
}

.container * {
	padding: 1% 0;
}

h1 {
	font-size: larger;
	font-weight: bold;
	padding: 2%;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1%;
}

code {
  font-family: monospace;
  color: black;
  background-color: #fff;
  padding: 1%;
}

ul {
	list-style-type: none;
}

a {
	color: #d8371b;
}
